.cabecalho {
    padding: 2% 0 0 15% ;
  }
  
  .cabecalho_menu {
    display: flex;
    gap: 80px;
  }
  
  .cabecalho_menu_link {
    font-family: 'Montserrat' , sans-serif;
    font-size: 24px;
    font-weight: 600px;
    color: #22D4FD;
    text-decoration: none;
  }